#remove the version numbers

streamlit
pandas
pyarrow
numpy
plotly
scipy
scikit-learn
openpyxl
numba
llvmlite
rapidfuzz
featuretools
openai
kaleido
xlsxwriter
boto3
reportlab
tableauserverclient
tableauhyperapi
msal
requests
setuptools
